.logo {
    text-align: center;
    padding: 30% 5% 5% 5%;
  }
  .title {
    padding: 5%;
    text-align: center;
    font-size: 2em;
  }
  .buttons {
    padding: 5%;
  }
  
  .div-or {
    text-align: center;
    display: inline;
    color: var(--ion-color-mamba);
  }
  
  .login-form {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20%;
  }
  
  .login-button {
    padding: 10% 5% 10% 5%;
  }
  
  ion-input {
    text-align: center;
  }
  
  .swiper-slide {
    display: block;
  }