<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title>Candidatos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="pl-5">
    <ion-searchbar></ion-searchbar>
  </div>

  <ion-card>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="dark">
          <h3>Jose Alfredo</h3>
        </ion-text>
        <p>Avaliado</p>
      </ion-label>
      <ion-badge slot="end" color="success">8/10</ion-badge>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="dark">
          <h3>Jose Alfredo</h3>
        </ion-text>
        <p>Avaliado</p>
      </ion-label>
      <ion-badge slot="end" color="success">8/10</ion-badge>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="dark">
          <h3>Jose Alfredo</h3>
        </ion-text>
        <p>Avaliado</p>
      </ion-label>
      <ion-badge slot="end" color="success">8/10</ion-badge>
    </ion-item>
  </ion-card>

</ion-content>